{
    "presets": [
        "@babel/preset-env", //compiling ES2015+ syntax
        "@babel/preset-typescript", //for typescript
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ]
}